@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>
<div>
    <partial name="PartialViews/DetailsDeletePartialView" model="@Model"></partial>

</div>
<div>
    <a class="btn btn-success" asp-route-id="Id" asp-action="Update">Edit </a>
    <a class="btn btn-Light" asp-action="Index">Back To List </a>

</div>



