@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_AuthLayout";
}

<h1>ForgetPassword</h1>
<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>
    <input type="email" asp-for="Email" placeholder="Email" class="form-Control"/>
    <span asp-validation-for="Email"></span>
    <br />
    <input type="submit" value="Reset Password" />


</form>

