@model LoginViewModel
@{
	ViewData["Title"] = "Login";
	Layout = "_AuthLayout";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
	<div asp-validation-summary="All" class="text-white bg-danger rounded-1 mb-1"></div>

	<input type="email" asp-for="Email" placeholder="Email" class="form-control" />
	<span asp-validation-for="Email">
	</span>
	<br />

	<input type="password" asp-for="Password" placeholder="Password" class="form-control" />
	<span asp-validation-for="Password">
	</span>
	<br />
	
	<div class="wthree-text">
		<label class="anim">
			<input asp-for="RememberMe " type="checkbox" />
			<span>Keep Me Signed In</span>
		</label>
		<div class="clear"></div>
	</div>
	<input class="btn btn-success rounded" type="submit" value="Login" />
</form>
<p class="text-black ">Don't Have an Account?<a asp-action="SignUp">Register Now!</a></p>
<br />
<p class="text-white" ><a asp-action="ForgetPassword">Forget Pssword!</a></p>